<ion-header>
  <ion-toolbar>
    <ion-title>PokeList de {{ type.name }}</ion-title>
    <ion-buttons class="close-button"  slot="end">
      <ion-button (click)="setClose()">
        <ion-icon name="close-circle">Fechar</ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of type?.status?.pokemon; let index">
      <ion-label>
        <h1
          [ngStyle]="{ background: getTypeColor(type?.name) }"
          class="title-poke-name"
        >
          {{ item?.pokemon?.name }}
        </h1>
      </ion-label>
      <ion-label class="id-label">Id: {{ getIdFromUrl(item?.pokemon?.url) }}</ion-label>
      <ion-label class="base-label">BaseExp: {{ getIdFromUrl(item?.pokemon?.url) }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
