ion-card {
  height: 97px;
  border-radius: 10px;

  ion-card-title {
    color: var(--ion-color-primary-contrast);
    flex-grow: 1;
  }

  ion-card-header {
    .category-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: -20px;
    }

    ion-row {
      height: 4px;
    }
  }
}

.card-title.io {
  width: 60px;
}


.card-title {
  flex: 1;
  align-items: center;


  ion-card-title {
    font-weight: bold;
    font-size: 26px;
  }
}

.card-category-container {
  height: calc(100vh - 100px);
  overflow-y: auto;

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--ion-color-medium-shade);
    padding-left: 16px;
  }
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  .pokebol-img-category {
    width: 300px;
  }
}

.icon-details {
  color: var(--collor-blue-main);
  background-color: none;
}
