

  <div class="card-category-container">
    <h1>Tipos de Pokemons</h1>
    <ion-card>
      <ion-card-header>

          <ion-row>

            <ion-col class="card-title" size="6">

              <ion-card-title>Grass</ion-card-title>
              <ion-button fill="clear" size="small">
                <ion-icon size="large" class="icon-details" name="add-circle"></ion-icon>
              </ion-button>

            </ion-col>

            <ion-col size="6" class="image-container">
              <img class="pokebol-img-category" src="../../../../assets/images/pokeball-type.png" alt="Tipo Grass" />
            </ion-col>
          </ion-row>

      </ion-card-header>
    </ion-card>
  </div>


