ion-content {
  --background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(12, 52, 14, 1) 50%, rgba(73, 165, 17, 1) 100%);
}

.close-button {
ion-icon {
  color:var(--collor-blue-main);
}
}

.pokeball-top-modal {
  position: relative;

  .pokeball-img {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
  }
}

.pokemon-title {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
  }
}

.img-modal-pokemon {
  display: flex;
  align-items: center;
  justify-content: center;

  .pokemon-img {
    width: 75%;
    z-index: 1;
  }
}

.modal-data {
  background-color: #f5f5f5;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
  text-align: right;
  height: 80%;
  margin-top: -60px;
}

.grid-about {
  display: flex;
  align-items: center;
  justify-content: center;

  ion-row {
    ion-col {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        font-size: 18px;
        font-weight: bold;
        color: var(--collor-blue-main);
      }

      p {
        font-size: 14px;
        margin-top: -10px;
      }
    }
  }
}

ion-chip {
  -webkit-box-shadow: 0px 13px 11px -9px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 13px 11px -9px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 13px 11px -9px rgba(0, 0, 0, 0.51);
}

.base-stats-title {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-weight: bold;
    color: #000;
  }
}

.base-bar-stats {
  display: flex;
  align-items: center;
  justify-content: center;

  ion-row {
    -webkit-box-shadow: -1px 10px 27px -8px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: -1px 10px 27px -8px rgba(0, 0, 0, 0.32);
    box-shadow: -1px 10px 27px -8px rgba(0, 0, 0, 0.32);
  }

  ion-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    --background: none;
  }

  .list-value {
    ion-item {
      ion-label {
        font-weight: bold;
      }
    }
  }

  ion-progress-bar {
    width: 140px;
    border-radius: 10px;
    height: 10px;
    --progress-background: var(--collor-blue-main);
  }
}

.pokemon-types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.grass {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 28px;
  font-weight: bold;
  border-radius: 10px;
  background: var(--gradient-grass);
  color: #fff;
}

.poison {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 28px;
  font-weight: bold;
  border-radius: 10px;
  background: rgb(49, 17, 64);
  background: var(--gradient-poison);
  color: #fff;
}
