


ion-icon {
  font-size: 24px;
}

.text-card-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
  gap:2px;
}

.grass {
  color: #3f9612;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: -10px;
}


.card-favorite-container {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.container-img-favorite {
  width: 200px;
}

.icon-details {
  color:var(--button-details);

}

.icon-heart {
  color:var(--ion-color-primary);
  margin-bottom: 80px;
  margin-left: 45px;
}
