
<div class="card-favorite-container">
<ion-card>
  <ion-grid>
    <ion-row class="center">
      <ion-col>
        <img src="../../../../assets/images/buba-test.png" alt="">
      </ion-col>
      <ion-col>
        <ion-card-content>
          <ion-card-title class="grass">Bulbasaur</ion-card-title>
          <ion-card-subtitle>
            Ver Detalhes
            <ion-icon  class="icon-details" name="add-circle"></ion-icon>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-col>
      <ion-col>
        <ion-icon size="large" class="icon-heart" name="heart"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
</div>
