
    ion-img {
      width: 40%;
    }

.pokemon-container {
  height: calc(100vh - 230px);
  overflow-y: auto;

}


ion-content {



  ion-card {
    overflow: visible;
    height: 192px;
    box-shadow: none;
    border-radius: 8px;
    margin: 26px 0;
    position: relative;


    ion-col {
      ion-img {
        bottom: 36px;
        width: 120px;
      }
    }

    ion-badge {
      margin-top: 8px;
      background: rgba(0, 0, 0, 0.2);
    }

    ion-card-title {
      font-weight: 900;
    }
  }
}

.base-line {
  margin-top:60px;
}

.pokemon-card {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  color: white;
  padding: 20px 20px 60px;
  contain: none;
  margin-top: 156px;

  overflow: visible !important;
}

.pokemon-image-container {
  position: absolute;
  top: -72px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

}

.pokemon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

}

.pokemon-image-01 {
  height: auto;
  max-height: 120px;
  width: auto;
}

.pokemon-image img {
  height: auto;
  max-height: 130px;
  position: absolute;
  left: 50%;
  top: -83px;
  transform: translateX(-50%);
  z-index: 2;
}

.pokemon-details {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}



.pokemon-number {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 8px;
  color:black;
  opacity: 0.5;
}

.pokemon-name {
  font-size: 24px;
  font-weight: bold;

}

.pokemon-buttons {
  display: flex;
  flex-direction: column; /* Isso vai empilhá-los verticalmente */
  align-items: flex-start; /* Alinha os botões à esquerda */
  /* Controla o espaço entre os botões */
}

.pokemon-buttons ion-button {
  --padding-top: 0;
  --padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
}

.icon-details {
  color:var(--collor-blue-main);
  padding-right: 4px;


}

.icon-favorite {
  color:var(--ion-color-danger-tint);
  padding-right: 4px;
}



.pokemon-types {
  display: flex;
}

.pokemon-type {
  border-radius: 12px;
  padding: 5px 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 8px;
  text-transform: uppercase;
}

.grass {
  margin-top: 8px;
  background: var(--gradient-grass);
}

.poison {
  margin-top: 8px;
  background: rgb(49, 17, 64);
  background: var(--gradient-poison)
}

.pokemon-card.grass {
  background: var(--bg-gradient-grass);
  border-radius: 20px;
}

